doctype html
html(lang="en")
  head
    title Gulp Starter
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css")
  body
    .wrapper
      h1.title Gulp Starter 2
      p.
        Simple gulp to make frontend life easier<br />
        (gulp for static site builder)

      .test-box
        #js.js
        #less.less
        #sass.sass
        #compass.compass

    .script
      script(type="text/javascript", src="js/main.min.js")
